.conteiner {
    display: flex;
}

.left-img-movies {
    width: 120px;
    height: 120px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.right-img-movies {
    width: 120px;
    height: 120px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.left-img-movies-plenka {
    height: 135px;
    width: 110px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.right-img-movies-plenka {
    height: 135px;
    width: 110px;
    margin-bottom: 0px;
    margin-left: 10px;
}

@media screen and (max-width: 1400px) and (min-width: 1286px) {
    .left-img-movies {
        width: 80px;
        height: 80px;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .right-img-movies {
        width: 80px;
        height: 80px;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .left-img-movies-plenka {
        height: 10vw;
        width: 90px;
        margin-bottom: 0px;
        margin-left: 10px;
    }

    .right-img-movies-plenka {
        height: 10vw;
        width: 90px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1285px) and (min-width: 916px) {
    .left-img-movies {
        width: 60px;
        height: 60px;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .right-img-movies {
        width: 60px;
        height: 60px;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .left-img-movies-plenka {
        height: 10vw;
        width: 70px;
        margin-bottom: 0px;
        margin-left: 10px;
    }

    .right-img-movies-plenka {
        height: 10vw;
        width: 70px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 916px) and (min-width: 800px) {
    .left-img-movies {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .right-img-movies {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .left-img-movies-plenka {
        height: 9vw;
        width: 70px;
        margin-bottom: 0px;
        margin-left: 10px;
    }

    .right-img-movies-plenka {
        height: 9vw;
        width: 70px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 800px) {
    .left-img-movies {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .right-img-movies {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .left-img-movies-plenka {
        height: 9vw;
        width: 70px;
        margin-bottom: 0px;
        margin-left: 10px;
    }

    .right-img-movies-plenka {
        height: 9vw;
        width: 70px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
}