.conteinerDiv {
    background-image: url(img/rAiYTfKGqDCRIIqo664sY9XZIvQ.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}

.movieCartConteinerHeader {
    display: flex;
}

.movieCartHeader {
    margin-left: 100px;
    color: chartreuse;
    width: 200px;
    justify-content: flex-end;
    border: 4px solid chartreuse;
}

.movieCartConteiner {
    display: flex;
}

.movieCart {
    display: flex;
}

.movieCart-cart {
    display: flex;
    height: 100%;
    margin-left: 80px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.movieImg {
    width: 200px;
    height: 300px;
    margin-left: 40px;
    margin-top: 40px;
}

.movieHeader {
    text-align: center;
    padding: 10px;
    color: white
}

.movieDescription {
    width: 300px;
    padding: 20px;
    color: white
}

.movieAverage {
    font-size: 22px;
    color: white;
    padding: 20px;
}

.paginationConteiner {
    width: 400px;
    margin: auto;
    padding-top: 20px;
}